.header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 50px;
    padding: 25px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      transition: opacity 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        transition: all 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }
  }
}
